<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>订单管理</title>
	
	<!-- start: CSS -->
	<!--layui 核心css文件-->
    <link rel="stylesheet" href="../layui/css/layui.css">
	


	
   
   <style type="text/css">
.e{
   color:red
}
</style>

</head>

<body>




<div  style="margin-left:80% ; margin-top: 5px;">
		      <button class="layui-btn layui-bg-blue" type="submit" lay-submit lay-filter="outemo"> <i class="layui-icon layui-icon-logout"></i> 安全退出</button> 
	     </div>


<!--设备表单-->
		<div style="width:100%;margin-top: 5px;">
			<form  style="margin-left: 20%;" class="layui-form " action="edtproject.do" method="post">
					<!-- 项目名称-->
				<div class="layui-form-item">
					<label class="layui-form-label"> 项目名称</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
							<span class="e" th:if="${errors}!=null" th:text="${errors.get('projectName')}"></span>
					 <input type="text" name="projectName" id="projectName" class="layui-input" placeholder=" 项目名称"  
					  th:value="${prt}!=null ? ${prt.projectName} : ''"  required lay-verify="required"/>	
					</div>				
				</div>
				<!--采购日期   ${#dates.format(p.purchaseDate,'yyyy-MM-dd')} -->
				<div class="layui-form-item">
					<label class="layui-form-label">采购日期</label>
					<div  class="layui-input-inline">
						<!--原始表单区域 <span class="e" th:if="${errors}!=null" th:text="请重新输入日期"></span> -->
						
					 <input type="text" name="purchaseDate" id="purchaseDate" class="layui-input" placeholder="采购日期" 
					 th:value="${prt}!=null ?  ${#dates.format(prt.purchaseDate,'yyyy-MM-dd')} : ''"    required lay-verify="required"/>
					</div>				
				</div>
				<!--安装日期 -->
				<div class="layui-form-item">
					<label class="layui-form-label">安装日期 </label>
					
					<div  class="layui-input-inline">
						<!--原始表单区域-->
						
					 <input type="text" name="installDate" id="installDate" class="layui-input" placeholder="安装日期 " 
					 th:value="${prt}!=null ? ${#dates.format(prt.installDate,'yyyy-MM-dd')} : ''"     required lay-verify="required"/>

					</div>				
				</div>
				<!--承建单位-->
				<div class="layui-form-item">
					<label class="layui-form-label">承建单位</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input type="text" name="contractor" id="contractor" class="layui-input" placeholder="承建单位" 
					th:value="${prt}!=null ? ${prt.contractor} : ''"     required lay-verify="required"/>
					</div>				
				</div>
				<!--承建期别-->
				<div class="layui-form-item">
					<label class="layui-form-label">承建期别</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input type="text" name="constructionPeriod" id="constructionPeriod" class="layui-input" placeholder="承建期别" 
					th:value="${prt}!=null ? ${prt.constructionPeriod} : ''"    required lay-verify="required"/>				
					</div>				
				</div>
				<!--建设单位-->
				<div class="layui-form-item">
					<label class="layui-form-label">建设单位</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input type="text" name="buildUnit" id="buildUnit" class="layui-input" placeholder="建设单位" 
					 	th:value="${prt}!=null ? ${prt.buildUnit} : ''"  required lay-verify="required"/>
					</div>				
				</div>
				<!--建设类型-->
				<div class="layui-form-item">
					<label class="layui-form-label">建设类型</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input type="text" name="constructionType" id="constructionType" class="layui-input" placeholder="建设类型" 
					 th:value="${prt}!=null ? ${prt.constructionType} : ''"  required lay-verify="required"/>
					</div>				
				</div>
				<!--合同编号-->
				<div class="layui-form-item">
					<label class="layui-form-label">合同编号</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input type="text" name="contractNumber" id="contractNumber" class="layui-input" placeholder="合同编号" 
					 th:value="${prt}!=null ? ${prt.contractNumber} : ''"   required lay-verify="required"/>
					</div>				
				</div>
				<!--建设状态-->
				<div class="layui-form-item">
					<label class="layui-form-label">建设状态</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input type="text" name="constructionStatus" id="constructionStatus" class="layui-input" placeholder="建设状态" 
					 th:value="${prt}!=null ? ${prt.constructionStatus} : ''"   required lay-verify="required"/>
					</div>				
				</div>
				<!--施工单位-->
				<div class="layui-form-item">
					<label class="layui-form-label">施工单位</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input type="text" name="constructionUnit" id="constructionUnit" class="layui-input" placeholder="施工单位" 
					 th:value="${prt}!=null ? ${prt.constructionUnit} : ''"   required lay-verify="required"/>
					</div>				
				</div>
					<!--建设项目-->
				<div class="layui-form-item">
					<label class="layui-form-label">建设项目</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input type="text" name="constructionProject" id="constructionProject" class="layui-input" placeholder="建设项目" 
					 th:value="${prt}!=null ? ${prt.constructionProject} : ''"    required lay-verify="required"/>
					</div>				
				</div>
					
				<!--点位名称-->
				<div class="layui-form-item">
					<label class="layui-form-label">点位名称</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input readonly="true" style="background:#CCCCCC"  type="text" name="pointName" id="pointName" class="layui-input" placeholder="点位名称" 
					     required lay-verify="required"/>
					</div>				
				</div>
						
						<!--输入对应设备名称-->
				<div class="layui-form-item">
					<label class="layui-form-label">设备名称</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
		    	     <select name="equipmentName" id="equipmentName" lay-verify="required"  lay-search>
				           <option value="" >可以先不指定设备</option>
				           <option value="null" >无设备</option>
				           <option th:value="${prt}!=null ? ${prt.equipmentName} : ''" 
				                   th:text="${prt}!=null ? ${prt.equipmentName} : ''"  
				                   selected> 1</option>
						   <option th:each="e: ${equipments}" 
						           th:value="${e}"
						           th:text="${e}" >北京
						   </option>
		     	     </select>
					</div>				
				</div>
	
									
				 <!--按钮-->
				  <div class="layui-form-item">
				    <div class="layui-input-inline">
				      <button class="layui-btn" type="submit" lay-submit lay-filter="formDemo">立即提交</button>
				      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
				    </div>
				  </div>
				   
			</form>   
		</div>
			<!--end设备表单-->









<!-- start: JavaScript-->
<!-- layui模块化js核心文件-->
	    <script src="../layui/layui.js" type="text/javascript" charset="UTF-8"></script>
		
		<script type="text/javascript">
		layui.use(['laydate','form'], function(){
		  var form = layui.form;
		  var laydate = layui.laydate;
		  
		  laydate.render({
			    elem: '#installDate' ,//指定元素
				format: 'yyyy-MM-dd',
			//	value:'2018-11-19',
				type: 'date',
				min: '2000-1-1',
				max: '2117-12-1'
			  });
		  laydate.render({
			    elem: '#purchaseDate' ,//指定元素
				format: 'yyyy-MM-dd',
			    //value:'2018-11-19',
				type: 'date',
				min: '2000-1-1',
				max: '2117-12-1'
			  });
		  
		  
		  
		  form.on('submit(outemo)', function(data){
			  let index = parent.layer.getFrameIndex(window.name);				 
	    	   parent.layer.close(index); //不执行数据更新，的退出
			    
				
			    
			     
			     return false;
				});
		  
		  
		  form.verify({		    
			  longitude: [
			    	/^[\-\+]?(0(\.\d{1,8})?|([1-9](\d)?)(\.\d{1,8})?|1[0-7]\d{1}(\.\d{1,8})?|180(([.][0]{1,8})?))$/
			        ,'经度格式错误，最长到小数点后8位'
			        ] 
		      ,latitude: [
			      /^[\-\+]?((0|([1-8]\d?))(\.\d{1,10})?|90(\.0{1,10})?)$/
		        ,'纬度格式错误，最长到小数点后8位'
		        ]   		 
		  }); 
		  
		  
		  
		});
		
		
		
		
		
		
		</script>



</body>
</html>
