<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>订单管理</title>
	
	<!-- start: CSS -->
	<!--layui 核心css文件-->
    <link rel="stylesheet" href="../layui/css/layui.css">
	


	<style>
    .layui-form-select dl { max-height:200px; }
</style>
   
   <style type="text/css">
.e{
   color:red
}
</style>

</head>

<body>







		<div  style="margin-left:80% ; margin-top: 5px;">
		      <button class="layui-btn layui-bg-blue" type="submit" lay-submit lay-filter="outemo"> <i class="layui-icon layui-icon-logout"></i> 安全退出</button> 
	     </div>
			
			
			<!--设备表单-->
		<div style="width:100%">
			<form  style="margin-left: 20%;" class="layui-form " action="insaddproject.do" method="post">
					<!--项目id-->
				<div class="layui-form-item">
					<label class="layui-form-label">项目id</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
						
					 <input readonly="true" style="background:#CCCCCC"  type="text" name="id" id="id" class="layui-input" placeholder="项目id"  
					 required lay-verify="required"/>
					 	
					</div>				
				</div>
				<!--项目名称-->
				<div class="layui-form-item">
					<label class="layui-form-label">项目名称</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input readonly="true" style="background:#CCCCCC"  type="text" name="projectName" id="projectName" class="layui-input" placeholder="项目名称" 
					   required lay-verify="required"/>
					</div>				
				</div>
				
				
									
				 <!--按钮-->
				  <div class="layui-form-item">
				    <div class="layui-input-inline">
				      <button class="layui-btn" type="submit" lay-submit lay-filter="formDemo">确认修改</button>
			
				    </div>
				  </div>
				   
			</form>   
		</div>
			<!--end设备表单-->









<!-- start: JavaScript-->
<!-- layui模块化js核心文件-->
	    <script src="../layui/layui.js" type="text/javascript" charset="UTF-8"></script>
		
		<script type="text/javascript">
		layui.use('form', function(){
		  var form = layui.form;
		  
		  
		  form.on('submit(outemo)', function(data){
			  parent.reftabbel();   	  
	    	   parent.layer.close(index); //再执行关闭 	     
			     return false;
				});
		  
		 
		  form.verify({		    
			  longitude: [
			    	/^[\-\+]?(0(\.\d{1,8})?|([1-9](\d)?)(\.\d{1,8})?|1[0-7]\d{1}(\.\d{1,8})?|180(([.][0]{1,8})?))$/
			        ,'经度格式错误，最长到小数点后8位'
			        ] 
		      ,latitude: [
			      /^[\-\+]?((0|([1-8]\d?))(\.\d{1,10})?|90(\.0{1,10})?)$/
		        ,'纬度格式错误，最长到小数点后8位'
		        ]   		 
		  }); 
		  
		});
		</script>



</body>
</html>
