showpoint.html<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>订单管理</title>
	
	<!-- start: CSS -->
	<!--layui 核心css文件-->
    <link rel="stylesheet" href="../layui/css/layui.css">
	


	<style>
    .layui-form-select dl { max-height:200px; }
</style>
   
   <style type="text/css">
.e{
   color:red
}
</style>

</head>

<body>







		<div  style="margin-left:80% ; margin-top: 5px;">
		      <button class="layui-btn layui-bg-blue" type="submit" lay-submit lay-filter="outemo"> <i class="layui-icon layui-icon-logout"></i> 安全退出</button> 
	     </div>
			
			
			<!--设备表单-->
		<div style="width:100%">
			<form   style="float:left;width:35%" class="layui-form " action="addPoint.do" method="post">
					<!--点位名称-->
				<div class="layui-form-item">
					<label class="layui-form-label">点位名称</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
						<span class="e" th:if="${errors}!=null" th:text="${errors.get('pointName')}"></span>
					 <input type="text" name="pointName" id="pointName" class="layui-input" placeholder="点位名称"  
					  th:value="${pop}!=null ? ${pop.pointName} : ''"  required lay-verify="required"/>
					 	
					</div>				
				</div>
				<!--断面编号-->
				<div class="layui-form-item">
					<label class="layui-form-label">断面编号</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input  type="text" name="sectionCode" id="sectionCode" class="layui-input" placeholder="断面编号" 
					  th:value="${pop}!=null ? ${pop.sectionCode} : ''"  required lay-verify="required"/>
					</div>				
				</div>
				<!--点位经度-->
				<div class="layui-form-item">
					<label class="layui-form-label">点位经度</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input readonly="true" style="background:#CCCCCC"  type="text" name="longitude" id="lng" class="layui-input" placeholder="点位经度" 
					  th:value="${pop}!=null ? ${pop.longitude} : ''"    required lay-verify="required|number|longitude"/>
					</div>				
				</div>
				<!--点位纬度-->
				<div class="layui-form-item">
					<label class="layui-form-label">点位纬度</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input readonly="true" style="background:#CCCCCC"  type="text" name="latitude" id="lat" class="layui-input" placeholder="点位纬度" 
					  th:value="${pop}!=null ? ${pop.latitude} : ''"     required lay-verify="required|number|latitude"/>
					</div>				
				</div>
				
					<!--点位位置-->
				<div class="layui-form-item">
					<label class="layui-form-label">点位位置</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input  readonly="true" style="background:#CCCCCC"  type="text" name="whereis" id="whereis" class="layui-input" placeholder="位置" 
					  th:value="${ws}!=null ? ${ws.whereis} : ''"     required lay-verify="required"/>
					</div>				
				</div>
				
				
				
				<!--监测点编码
				<div class="layui-form-item">
					<label class="layui-form-label">监测点编码</label>
					<div  class="layui-input-inline">
						<!--原始表单区域--
					 <input readonly="true" style="background:#CCCCCC"  type="text" name="pointCode" id="pointCode" class="layui-input" placeholder="监测点编码" 
					  th:value="${pop}!=null ? ${pop.pointCode} : '初始位置'"     required lay-verify="required"/>
					
					</div>				
				</div>
				
				-->
				<!--路口形状-->
				<div class="layui-form-item">
					<label class="layui-form-label">路口形状</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input type="text" name="shape" id="shape" class="layui-input" placeholder="路口形状" 
					  th:value="${pop}!=null ? ${pop.shape} : ''"     required lay-verify="required"/>
					</div>				
				</div>
				<!--车道数-->
				<div class="layui-form-item">
					<label class="layui-form-label">车道数</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input type="text" name="LaneNumber" id="LaneNumber" class="layui-input" placeholder="车道数" 
					  th:value="${pop}!=null ? ${pop.LaneNumber} : ''"     required lay-verify="required|number"/>
					</div>				
				</div>
				<!--点位类型-->
				<div class="layui-form-item">
					<label class="layui-form-label">点位类型</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input type="text" name="pointType" id="pointType" class="layui-input" placeholder="点位类型" 
					  th:value="${pop}!=null ? ${pop.pointType} : ''"     required lay-verify="required"/>
					</div>				
				</div>
				
				
					<!--输入对应街道名称-->
				<div class="layui-form-item">
					<label class="layui-form-label">道路名称</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
		    	     <select name="roadName" id="roadName" lay-verify="required"  lay-search>
				           <option value="" >可以先不指定道路</option>
				           <option value="0" >无道路</option>
				           <option th:value="${pop}!=null ? ${pop.roadName} : ''" 
				                   th:text="${pop}!=null ? ${pop.roadName} : ''"  
				                   selected> 1</option>
						   <option th:each="r: ${roads}" 
						           th:value="${r}"
						           th:text="${r}" >北京
						   </option>
		     	     </select>
					</div>				
				</div>
				
				
									
				 <!--按钮-->
				  <div class="layui-form-item">
				    <div class="layui-input-inline">
				      <button class="layui-btn" type="submit" lay-submit lay-filter="formDemo">立即提交</button>
				      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
				    </div>
				  </div>
				   
			</form>   
			
			
			
			
			
				<!-- 百度地图 -->	
		<div style="float:left;width:60%" >
			<div  >
			   <input name="address" value=""id="where" class="case_text" type="text" style="width:45%">
			   <div style="display: inline" onClick="sear(document.getElementById('where').value);" >
			    <button class="layui-btn layui-btn">搜索</button>
			   </div>
			</div>
			
			<div style="width:100%;height:600px;border:1px solid gray" id="container"></div>
		</div>    
			
			
			
			
		</div>
			<!--end设备表单-->









<!-- start: JavaScript-->
<!-- layui模块化js核心文件-->

         <script type="text/javascript" src="layer3.1.1/layer.js"></script>
         <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Ypu9Gm5XZhlVdnzd1j7L7RRnhcGzAqw1"></script>
         <script type="text/javascript"  src="btmap/map.js"></script>  

	    <script src="../layui/layui.js" type="text/javascript" charset="UTF-8"></script>
		
		<script type="text/javascript">
		layui.use('form', function(){
		  var form = layui.form;
		  
		  
		  form.on('submit(outemo)', function(data){
			  let index = parent.layer.getFrameIndex(window.name);				 
	    	   parent.layer.close(index); //不执行数据更新，的退出
			     return false;
				});
		  
		 
		  form.verify({		    
			  longitude: [
			    	/^[\-\+]?(0(\.\d{1,8})?|([1-9](\d)?)(\.\d{1,8})?|1[0-7]\d{1}(\.\d{1,8})?|180(([.][0]{1,8})?))$/
			        ,'经度格式错误，最长到小数点后8位'
			        ] 
		      ,latitude: [
			      /^[\-\+]?((0|([1-8]\d?))(\.\d{1,10})?|90(\.0{1,10})?)$/
		        ,'纬度格式错误，最长到小数点后8位'
		        ]   		 
		  }); 
		  
		});
		</script>



</body>
</html>
