<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>订单管理</title>
	
	<!-- start: CSS -->
	<!--layui 核心css文件-->
    <link rel="stylesheet" href="..//layui/css/layui.css">
	


	
   
   <style type="text/css">
.e{
   color:red
}
</style>

</head>

<body>







<!--设备表单-->
		<div style="width:100%;margin-top: 10px;">
			<form  style="margin-left:10%;" class="layui-form " action="Point.do" method="post">
					<!--点位名称-->
				<div class="layui-form-item">
					<label class="layui-form-label">点位名称</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
						<span class="e" th:if="${errors}!=null" th:text="${errors.get('pointName')}"></span>
					 <input type="text" name="pointName" id="pointName" class="layui-input" placeholder="点位名称"  
					  th:value="${edtpoint}!=null ? ${edtpoint.pointName} : ''"    required lay-verify="required"/>
					 	
					</div>				
				</div>
				<!--断面编号-->
				<div class="layui-form-item">
					<label class="layui-form-label">断面编号</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input type="text" name="sectionCode" id="sectionCode" class="layui-input" placeholder="断面编号" 
					  th:value="${edtpoint}!=null ? ${edtpoint.sectionCode} : ''"  required lay-verify="required"/>
					</div>				
				</div>
				<!--点位经度-->
				<div class="layui-form-item">
					<label class="layui-form-label">点位经度</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input type="text" name="longitude" id="longitude" class="layui-input" placeholder="点位经度" 
					 th:value="${edtpoint}!=null ? ${edtpoint.longitude} : ''"   required lay-verify="required|number"/>
					</div>				
				</div>
				<!--点位纬度-->
				<div class="layui-form-item">
					<label class="layui-form-label">点位纬度</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input type="text" name="latitude" id="latitude" class="layui-input" placeholder="点位纬度" 
					th:value="${edtpoint}!=null ? ${edtpoint.latitude} : ''"    required lay-verify="required|number"/>
					</div>				
				</div>
				<!--监测点编码-->
				<div class="layui-form-item">
					<label class="layui-form-label">监测点编码</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input type="text" name="pointCode" id="pointCode" class="layui-input" placeholder="监测点编码" 
					th:value="${edtpoint}!=null ? ${edtpoint.pointCode} : ''"    required lay-verify="required"/>
					
					</div>				
				</div>
				<!--路口形状-->
				<div class="layui-form-item">
					<label class="layui-form-label">路口形状</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input type="text" name="shape" id="shape" class="layui-input" placeholder="路口形状" 
					th:value="${edtpoint}!=null ? ${edtpoint.shape} : ''"    required lay-verify="required"/>
					</div>				
				</div>
				<!--车道数-->
				<div class="layui-form-item">
					<label class="layui-form-label">车道数</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input type="text" name="LaneNumber" id="LaneNumber" class="layui-input" placeholder="车道数" 
					th:value="${edtpoint}!=null ? ${edtpoint.LaneNumber} : ''"    required lay-verify="required|number"/>
					</div>				
				</div>
				<!--点位类型-->
				<div class="layui-form-item">
					<label class="layui-form-label">点位类型</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input type="text" name="pointType" id="pointType" class="layui-input" placeholder="点位类型" 
					th:value="${edtpoint}!=null ? ${edtpoint.pointType} : ''"    required lay-verify="required"/>
					</div>				
				</div>
									
				 <!--按钮-->
				  <div class="layui-form-item">
				    <div class="layui-input-inline">
				      <button class="layui-btn" type="submit" lay-submit lay-filter="formDemo">确认修改</button>
				      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
				    </div>
				  </div>
				   
			</form>   
		</div>
			<!--end设备表单-->









<footer>

	<p>
		<span style="text-align:center; margin-left: 20%">Copyright &copy;新视达视讯工程有限公司</span>
	</p>

</footer>

<!-- start: JavaScript-->
<!-- layui模块化js核心文件-->
	    <script src="layui/layui.js" type="text/javascript" charset="UTF-8"></script>
		
		<script type="text/javascript">
		layui.use('form', function(){
		  var form = layui.form;
		});
		</script>



</body>
</html>
