<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>订单管理</title>
	
	<!-- start: CSS -->
	<!--layui 核心css文件-->
    <link rel="stylesheet" href="../layui/css/layui.css">
	


	
   
   <style type="text/css">
.e{
   color:red
}
</style>

</head>

<body>







<!--设备表单-->
		<div style="width:100%;">
			<form  style="margin-left: 20%;" class="layui-form " action="insedtpoint.do" method="post">
			<!--点位id-->
				<div class="layui-form-item"  >
					<label class="layui-form-label">点位id</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
						
					 <input readonly="true" style="background:#CCCCCC" type="text" name="pointId" id="pointId" class="layui-input" placeholder="点位id"  
					     required lay-verify="required"/>
					 	
					</div>				
				</div>
					<!--点位名称-->
				<div class="layui-form-item">
					<label class="layui-form-label">点位名称</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
						
					 <input readonly="true" style="background:#CCCCCC"  type="text" name="pointName" id="pointName" class="layui-input" placeholder="点位名称"  
					     required lay-verify="required"/>
					 	
					</div>				
				</div>
				<!--断面编号-->
				<div class="layui-form-item">
					<label class="layui-form-label">断面编号</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input readonly="true" style="background:#CCCCCC"  type="text" name="sectionCode" id="sectionCode" class="layui-input" placeholder="断面编号" 
					  required lay-verify="required"/>
					</div>				
				</div>
				<!--点位经度-->
				<div class="layui-form-item">
					<label class="layui-form-label">点位经度</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input readonly="true" style="background:#CCCCCC"  type="text" name="longitude" id="longitude" class="layui-input" placeholder="点位经度" 
					    required lay-verify="required|number|longitude"/>
					</div>				
				</div>
				<!--点位纬度-->
				<div class="layui-form-item">
					<label class="layui-form-label">点位纬度</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input readonly="true" style="background:#CCCCCC"  type="text" name="latitude" id="latitude" class="layui-input" placeholder="点位纬度" 
					      required lay-verify="required|number|latitude"/>
					</div>				
				</div>
				<!--监测点编码-->
				<div class="layui-form-item">
					<label class="layui-form-label">监测点编码</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input readonly="true" style="background:#CCCCCC"  type="text" name="pointCode" id="pointCode" class="layui-input" placeholder="监测点编码" 
					  required lay-verify="required"/>
					
					</div>				
				</div>
				<!--路口形状-->
				<div class="layui-form-item">
					<label class="layui-form-label">路口形状</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input readonly="true" style="background:#CCCCCC"  type="text" name="shape" id="shape" class="layui-input" placeholder="路口形状" 
					    required lay-verify="required"/>
					</div>				
				</div>
				<!--车道数-->
				<div class="layui-form-item">
					<label class="layui-form-label">车道数</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input readonly="true" style="background:#CCCCCC"  type="text" name="LaneNumber" id="LaneNumber" class="layui-input" placeholder="车道数" 
					    required lay-verify="required|number"/>
					</div>				
				</div>
				<!--点位类型-->
				<div class="layui-form-item">
					<label class="layui-form-label">点位类型</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input readonly="true" style="background:#CCCCCC"  type="text" name="pointType" id="pointType" class="layui-input" placeholder="点位类型" 
					      required lay-verify="required"/>
					</div>				
				</div>
				
				
				
					<!--输入对应街道名称-->
				<div class="layui-form-item">
					<label class="layui-form-label">道路名称</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input readonly="true" style="background:#CCCCCC"  type="text" name="roadName" id="roadName" class="layui-input" placeholder="道路名称" 
					      required lay-verify="required"/>
					</div>				
				</div>
				
				
				<!--输入对应街道名称
				<div  style="margin-left: 1000px" class="layui-form-item">
					<label class="layui-form-label">道路名称</label>
					<div  class="layui-input-inline">
						<!--原始表单区域
		    	     <select   name="roadName" id="roadName" lay-verify="required"  lay-search>
				           <option value="" >可以先不指定道路</option>
				           <option value="0" >无道路</option>
				           <option th:value="${edtpoint}!=null ? ${edtpoint.roadName} : ''" 
				                   th:text="${edtpoint}!=null ? ${edtpoint.roadName} : ''"  
				                   selected> 1</option>
						   <option th:each="r: ${edtroads}" 
						           th:value="${r}"
						           th:text="${r}" >北京
						   </option>
		     	     </select>
					</div>				
				</div>				
				-->
									
				 <!--按钮-->
				  <div class="layui-form-item">
				    <div class="layui-input-block">
				      <button class="layui-btn" type="submit" lay-submit lay-filter="formDemo">确认修改</button>&nbsp;
				        <button class="layui-btn layui-bg-blue" type="submit" lay-submit lay-filter="outemo"> <i class="layui-icon layui-icon-logout"></i> 安全退出</button> 
						
				    </div>
				  </div>
				   
			</form>   
		</div>
			<!--end设备表单-->











<!-- start: JavaScript-->
<!-- layui模块化js核心文件-->
	    <script src="../layui/layui.js" type="text/javascript" charset="UTF-8"></script>
		
		<script type="text/javascript">
		layui.use('form', function(){
		  var form = layui.form;
		  
		  form.on('submit(outemo)', function(data){
			  parent.reftabbel();    	  
	    	   parent.layer.close(index); //再执行关闭 
  
			     return false;
				});
		  
		  
		  form.verify({		    
			  longitude: [
			    	/^[\-\+]?(0(\.\d{1,8})?|([1-9](\d)?)(\.\d{1,8})?|1[0-7]\d{1}(\.\d{1,8})?|180(([.][0]{1,8})?))$/
			        ,'经度格式错误，最长到小数点后8位'
			        ] 
		      ,latitude: [
			      /^[\-\+]?((0|([1-8]\d?))(\.\d{1,10})?|90(\.0{1,10})?)$/
		        ,'纬度格式错误，最长到小数点后8位'
		        ]   		 
		  }); 
		  
		});
		</script>



</body>
</html>
