<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>订单管理</title>
	
	<!-- start: CSS -->
	<!--layui 核心css文件-->
    <link rel="stylesheet" href="../layui/css/layui.css">
	


	<style>
    .layui-form-select dl { max-height:200px; }
</style>
   
   <style type="text/css">
.e{
   color:red
}
</style>

</head>

<body>
        <!--安全关闭-->
         <div  style="margin-left:76% ; margin-top: 5px;">
		      <button class="layui-btn layui-bg-blue" type="submit" lay-submit lay-filter="outemo"> <i class="layui-icon layui-icon-logout"></i> 安全退出</button> 
	     </div>

			  <!--设备基础信息表单-->
		  <div style="width:100%">
			 <form  style="float:left;width:35%" class="layui-form " action="addroad.do" method="post" >				 		 
				<!--行政区域-->
				<div class="layui-form-item">
					<label class="layui-form-label">行政区域</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input type="text" name="administrativeRegion" id="administrativeRegion" class="layui-input" placeholder="出行政区域"  
					  th:value="${roa}!=null ? ${roa.administrativeRegion} : ''"  required lay-verify="required"/>
					</div>				
				</div>
				<!--部门区域-->
				<div class="layui-form-item">
					<label class="layui-form-label">部门区域</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input type="text" name="departmentRegion" id="departmentRegion" class="layui-input" placeholder="部门区域"  
					 th:value="${roa}!=null ? ${roa.departmentRegion} : ''"  required lay-verify="required"/>
					 	
					</div>				
				</div>
				<!--街道名称-->
				<div class="layui-form-item">
					<label class="layui-form-label">街道名称</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
						 
					 <input type="text" name="streetName" id="streetName" class="layui-input" placeholder="街道名称"  
					 th:value="${roa}!=null ? ${roa.streetName} : ''"  required lay-verify="required"/>
					</div>				
				</div>
				<!--道路名称-->
				<div class="layui-form-item">
					<label class="layui-form-label">道路名称</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
						<span class="e" th:if="${errors}!=null" th:text="${errors.get('roadName')}"></span>
					 <input type="text" name="roadName" id="roadName" class="layui-input" placeholder="道路名称" 
					  th:value="${roa}!=null ? ${roa.roadName} : ''"    required lay-verify="required"/>
					</div>				
				</div>
				<!--道路等级  -->
				<div class="layui-form-item">
					<label class="layui-form-label">道路等级  </label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input type="text" name="roadGrade" id="roadGrade" class="layui-input" placeholder="道路等级" 
				 th:value="${roa}!=null ? ${roa.roadGrade} : ''" 	  required lay-verify="required"/>
					</div>				
				</div>
				<!--道路编码-->
				<div class="layui-form-item">
					<label class="layui-form-label">道路编码</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input type="text" name="roadCode" id="roadCode" class="layui-input" placeholder="道路编码" 
					 th:value="${roa}!=null ? ${roa.roadCode} : ''"   required lay-verify="required"/>
					 
					</div>				
				</div>
				<!--道路限速-->
				<div class="layui-form-item">
					<label class="layui-form-label">道路限速&emsp;</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input type="text" name="roadSpeed" id="roadSpeed" class="layui-input" placeholder="道路限速 km/h" 
					 th:value="${roa}!=null ? ${roa.roadSpeed} : ''"   required lay-verify="required|number"/>
					</div>				
				</div>
				
				 <!--按钮-->
				 <div class="layui-form-item">
					 <div class="layui-input-inline">
						 <button type="reset" class="layui-btn layui-btn-primary pre">重置</button>&emsp;
						 <button class="layui-btn" type="submit"  lay-submit>确定提交 </button>
					 </div>
				 </div>
				 
			 </form>	
			 
			 
			   
           <!-- 百度地图 -->
     <div style="float:left;width:60%" >
	<div>
	   <input name="address" value=""id="where" class="case_text" type="text" style="width:45%">
	   <div style="display: inline" onClick="sear(document.getElementById('where').value);" >
	    <button class="layui-btn layui-btn">搜索</button>
	   </div>
	</div>
	
	<div style="width:100%;height:600px;border:1px solid gray" id="container"></div>
</div>    
			 
			 	 
		  </div>
			<!--end设备存储表单-->








<!-- start: JavaScript-->

   <script src="admin/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="layer3.1.1/layer.js"></script>
         <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Ypu9Gm5XZhlVdnzd1j7L7RRnhcGzAqw1"></script>
         <script type="text/javascript"  src="btmap/map.js"></script>  

<!-- layui模块化js核心文件-->
	    <script src="../layui/layui.js" type="text/javascript" charset="UTF-8"></script>
		
		<script type="text/javascript">
		layui.use('form', function(){
		  var form = layui.form;
		  
		  form.on('submit(outemo)', function(data){
			  parent.reftabbel();   	  
	    	   parent.layer.close(index); //再执行关闭 	     
			     return false;
				});
		  
		  
		 
		  form.verify({		    
			  longitude: [
			    	/^[\-\+]?(0(\.\d{1,8})?|([1-9](\d)?)(\.\d{1,8})?|1[0-7]\d{1}(\.\d{1,8})?|180(([.][0]{1,8})?))$/
			        ,'经度格式错误，最长到小数点后8位'
			        ] 
		      ,latitude: [
			      /^[\-\+]?((0|([1-8]\d?))(\.\d{1,10})?|90(\.0{1,10})?)$/
		        ,'纬度格式错误，最长到小数点后8位'
		        ]   		 
		  }); 
		  
		});
		</script>



</body>
</html>
