<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>订单管理</title>
	
	<!-- start: CSS -->
	<!--layui 核心css文件-->
    <link rel="stylesheet" href="../layui/css/layui.css">
	


	
   
   <style type="text/css">
.e{
   color:red
}
</style>

</head>

<body>







<!--设备表单-->
		<div style="width:100%;margin-top: 30px;">
			<form  style="margin-left: 20%;" class="layui-form " action="edtequipment.do" method="post" >
				<!--设备编号-->
				<div class="layui-form-item">
					<label class="layui-form-label">设备编号</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
						<span class="e" th:if="${errors}!=null" th:text="${errors.get('equipmentName')}"></span>
					 <input type="text" name="equipmentCode" id="equipmentCode" class="layui-input" placeholder="设备编号"
					 th:value="${eptr}!=null ? ${eptr.equipmentCode} : ''"   required lay-verify="required"/>
					</div>				
				</div>
				<!--设备名称-->
				<div class="layui-form-item">
					<label class="layui-form-label">设备名称</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
						
					 <input type="text" name="equipmentName" id="equipmentName" class="layui-input" placeholder="设备名称" 
					 th:value="${eptr}!=null ? ${eptr.equipmentName} : ''"  required lay-verify="required"/>
					  	
					</div>				
				</div>
				<!--设备用户名-->
				<div class="layui-form-item">
					<label class="layui-form-label">设备用户名</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input type="text" name="equipmentUser" id="equipmentUser" class="layui-input" placeholder="设备用户名" 
					 th:value="${eptr}!=null ? ${eptr.equipmentUser} : ''"  required lay-verify="required"  />
					</div>				
				</div>
				<!--设备密码-->
				<div class="layui-form-item">
					<label class="layui-form-label">设备密码</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input type="password" name="equipmentPwd" id="equipmentPwd" class="layui-input" placeholder="设备密码" 
					 th:value="${eptr}!=null ? ${eptr.equipmentPwd} : ''"  required lay-verify="required"/>
					</div>				
				</div>
				<!--设备类型-->
				<div class="layui-form-item">
					<label class="layui-form-label">设备类型</label>
					<div  class="layui-input-inline">
						<!--原始表单区域-->
					 <input type="text" name="equipmentType" id="equipmentType" class="layui-input" placeholder="设备类型" 
					 th:value="${eptr}!=null ? ${eptr.equipmentType} : ''"  required lay-verify="required"/>
					</div>				
				</div>
				
									
				 <!--按钮-->
				  <div class="layui-form-item">
				    <div class="layui-input-block">
				      <button class="layui-btn" type="submit"  lay-submit lay-filter="formStep2" >立即提交</button>&nbsp;
				        <button class="layui-btn layui-bg-blue" type="submit" lay-submit lay-filter="outemo"> <i class="layui-icon layui-icon-logout"></i> 安全退出</button> 
						
				    </div>
				  </div>
				   
			</form>   
		</div>
			<!--end设备表单-->









<footer style="text-align:center; margin-top: 10%">

	<p>
		<span >Copyright &copy;新视达视讯工程有限公司</span>
	</p>

</footer>

<!-- start: JavaScript-->
<!-- layui模块化js核心文件-->
	    <script src="../layui/layui.js" type="text/javascript" charset="UTF-8"></script>
		
		<script type="text/javascript">
		layui.use('form', function(){
		  var form = layui.form;
		  
		  form.on('submit(outemo)', function(data){
			  parent.reftabbel();
	    	  
	    	   parent.layer.close(index); //再执行关闭 
			    
				
			    
			     
			     return false;
				});
		  
		  
		  form.verify({		    
			  longitude: [
			    	/^[\-\+]?(0(\.\d{1,8})?|([1-9](\d)?)(\.\d{1,8})?|1[0-7]\d{1}(\.\d{1,8})?|180(([.][0]{1,8})?))$/
			        ,'经度格式错误，最长到小数点后8位'
			        ] 
		      ,latitude: [
			      /^[\-\+]?((0|([1-8]\d?))(\.\d{1,10})?|90(\.0{1,10})?)$/
		        ,'纬度格式错误，最长到小数点后8位'
		        ]   		 
		  }); 
		  
		  
		  
		});
		
		
		
		
		
		
		</script>



</body>
</html>
