<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="www.thymeleaf.org">
<head>
	
	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>设备展示</title>
	<meta name="description" content="Bootstrap Metro Dashboard">
	<meta name="author" content="">
	<meta name="keyword" content="">
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->
	
	<!-- start: CSS -->
	<link id="bootstrap-style" href="admin/css/bootstrap.min.css" rel="stylesheet">
	<link href="admin/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="admin/css/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="admin/css/style-responsive.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
	<!-- end: CSS -->
	

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<link id="ie-style" href="css/ie.css" rel="stylesheet">
	<![endif]-->
	
	<!--[if IE 9]>
		<link id="ie9style" href="css/ie9.css" rel="stylesheet">
	<![endif]-->
		
	<!-- start: Favicon -->
	<link rel="shortcut icon" href="admin/img/favicon.ico">
	<!-- end: Favicon -->
	<!--layui 核心css文件-->
    <link rel="stylesheet" href="layui/css/layui.css">
	<!--start:easyui -->
	<link rel="stylesheet" type="text/css" href="admin/easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="admin/easyui/themes/icon.css">
	<script type="text/javascript" src="admin/easyui/jquery.min.js"></script>
	<script type="text/javascript" src="admin/easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="admin/easyui/locale/easyui-lang-zh_CN.js"></script>
	<!--end:easyui-->

	


</head>

<body>
<div id="app">
			<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="Index"><span>设备管理系统</span></a>
								
				<!-- start: Header Menu -->
				<div class="nav-no-collapse header-nav">
					<ul class="nav pull-right">
						<!-- start: User Dropdown -->
						<li class="dropdown">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="halflings-icon white user"></i> 
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li class="dropdown-menu-title">
 									<span>基本管理</span>
								</li>
								
								<li><a href="xtoadlogin"><i class="halflings-icon off"></i> 退出本系统</a></li>
							</ul>
						</li>
						<!-- end: User Dropdown -->
					</ul>
				</div>
				<!-- end: Header Menu -->
				
			</div>
		</div>
	</div>
	<!-- start: Header -->
	
		<div class="container-fluid-full">
		<div class="row-fluid">
				
			<!-- start: Main Menu -->
			<div id="sidebar-left" class="span2">
				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li><a href="Index"><i class="icon-home"></i><span class="hidden-tablet"> 首页</span></a></li>
					
						
						
						<li>
							<a class="dropmenu" href="#"><i class="icon-truck"></i><span class="hidden-tablet">基本信息录入管理</span> <span class="label label-important"> 3 </span></a>
							<ul>
								<li><a class="submenu" href="toPoint"><i class="icon-signout"></i><span class="hidden-tablet"> 点位录入</span></a></li>
								<li><a class="submenu" href="toroad"><i class="icon-signout"></i><span class="hidden-tablet"> 街道录入</span></a></li>
								<li><a class="submenu" href="toEquipment"><i class="icon-signout"></i><span class="hidden-tablet"> 设备录入</span></a></li>
							</ul>
						</li>
						
							<li>
							<a class="dropmenu" href="#"><i class="icon-truck"></i><span class="hidden-tablet"> 基本信息修改管理</span> <span class="label label-important"> 3 </span></a>
							<ul>
								<li><a class="submenu" href="toshowpoint"><i class="icon-signout"></i><span class="hidden-tablet"> 点位修改</span></a></li>
								<li><a class="submenu" href="toshowroad"><i class="icon-signout"></i><span class="hidden-tablet"> 街道修改</span></a></li>
								<li><a class="submenu" href="toshowept"><i class="icon-signout"></i><span class="hidden-tablet"> 设备修改</span></a></li>
							</ul>
						</li>
						<li>
							<a class="dropmenu" href="#"><i class="icon-truck"></i><span class="hidden-tablet"> 项目管理</span> <span class="label label-important"> 2 </span></a>
							<ul>
								<li><a class="submenu" href="toproject"><i class="icon-signout"></i><span class="hidden-tablet"> 项目信息录入</span></a></li>
								<li><a class="submenu" href="toshowproject"><i class="icon-signout"></i><span class="hidden-tablet"> 项目信息修改</span></a></li>
							</ul>
						</li>
					
							
							<li><a href="toshowinstall"><i class="icon-edit"></i><span class="hidden-tablet"> 安装信息管理</span></a></li>
						<li><a href="toshowLaw"><i class="icon-edit"></i><span class="hidden-tablet"> 执法信息管理</span></a></li>
							<li><a href="toshowtoDevop"><i class="icon-edit"></i><span class="hidden-tablet"> 运维信息管理</span></a></li>
						
					</ul>
				</div>
			</div>
			<!-- end: Main Menu -->
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			<!-- end: Main Menu -->

		<!-- start: Content  中心页显示 -->
		<div id="content" class="span10">

          <!-- 页头 
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="admin/index.html">主页</a>
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="#">订单管理</a></li>
			</ul>
			-->
			
			  <!-- 表头 -->
			<div>		
				<form  action="showequipment.do" method="post">
		      
				<div id="equipmentName"  style="margin-left:10px;font-weight:bold;float: left">
			      设备名称：<input name="equipmentName" style="width: 120px;height: 30px;border-radius: 10px;border: solid 2px;" type="text"placeholder="设备名称"/>   </div>
			  
				<div id="equipmentType"   style="margin-left:10px;font-weight:bold;float: left">
				  设备类型：<input  name="equipmentType" style="width: 120px;height: 30px;border-radius: 10px;border: solid 2px;" type="text"placeholder="设备类型"/>	</div>
				  
				<div id="afunctionType"   style="margin-left:10px;font-weight:bold;float: left">
			     摄像机功能类型：<input name="afunctionType"  style="width: 120px;height: 30px;border-radius: 10px;border: solid 2px;" type="text"placeholder="摄像机功能类型"/>	</div>
			     
				<div id="brand"  style="margin-left:10px;font-weight:bold;float: left">
				 设备品牌：<input name="brand"  style="width: 120px;height: 30px;border-radius: 10px;border: solid 2px;" type="text"placeholder="品牌"/>	</div>
				  
				<div   id="functionType" style="margin-left:10px;font-weight:bold;float: left">
				设备功能类型：<input name="functionType"  style="width: 120px;height: 30px;border-radius: 10px;border: solid 2px;" type="text"placeholder="设备功能类型"/>	</div>
			
			
				<div style="margin-left:10px;font-weight:bold;float: left">
					 <!--按钮--> 					      
			      	<button id="btn-sor" class="layui-btn" type="submit" >搜索</button></div>	
			      		      
			       <button id="btn-re" class="layui-btn layui-btn-primary"  type="reset" >重置</button>
			     			  						
		      	</form>
	    	</div>
						        <!-- fixed: 'right'  --> 
							<hr>
			<div >
						  <table class="layui-table"  id="t" lay-filter="demo" lay-data="{id: 'idTest'}"   >
						  <thead>
						    <tr >
						      <th lay-data="{field:'equipmentId' ,sort: true, width:60  }" rowspan="2">ID</th>
						      <th lay-data="{field:'equipmentCode', width:100}"rowspan="2">设备编号</th>
						      <th lay-data="{field:'equipmentName', width: 200}"rowspan="2">设备名称</th>
						      <th lay-data="{field:'equipmentUser', width: 120}"rowspan="2">设备用户名</th>
						      <th lay-data="{field:'equipmentPwd', width: 120}"rowspan="2">设备密码</th>
						      <th lay-data="{field:'equipmentType', width: 100}"rowspan="2">设备类型</th>
						      
						      <th lay-data="{align:'center'  }" colspan="8">设备关联信息</th>
						      <th lay-data="{align:'center'}" colspan="7">设备存储信息</th>
						      <th lay-data="{align:'center'}" colspan="11">设备基础信息</th>
										  <!-- fixed: 'right', --> 
						      <th lay-data="{fixed: 'right',width:130, toolbar: '#barDemo'}" rowspan="2">操作</th>
						      <th lay-data="{ width: 520}"rowspan="2"></th>
						    </tr>
						   
						    <tr>
						     <!--设备关联信息  -->						  
						     <th lay-data="{field:'fillProperties', width: 100,style:'color:#009688'}">摄像机补光属性</th>
						     <th lay-data="{field:'afunctionType', width: 100,style:'color:#009688'}">摄像机功能类型</th>
						     <th lay-data="{field:'orientation', width: 100,style:'color:#009688'}">摄像机监控方位</th>
						     <th lay-data="{field:'positionType', width: 100,style:'color:#009688'}">摄像机位置类型</th>
						     <th lay-data="{field:'pickup', width: 100,style:'color:#009688'}">拾音器</th>
						     <th lay-data="{field:'securityMode', width: 100,style:'color:#009688'}">信令安全模式</th>
						     <th lay-data="{field:'regMethod', width: 100,style:'color:#009688'}">注册方式</th>
						     <th lay-data="{field:'confiAttribute', width: 100,style:'color:#009688'}">保密属性</th>	    
						       <!--设备存储信息  -->						     
						     <th lay-data="{field:'storageDay', width: 100,style:'color:#2F4056'}">录像保存天数</th>
						     <th lay-data="{field:'videoAddress', width: 100,style:'color:#2F4056'}">录像地址</th>
						     <th lay-data="{field:'bitstreamType', width: 100,style:'color:#2F4056'}">码流类型</th>
						     <th lay-data="{field:'codingFormat', width: 100,style:'color:#2F4056'}">视频编码格式</th>
						     <th lay-data="{field:'bitrateSize', width: 100,style:'color:#2F4056'}">视频码率大小</th>
						     <th lay-data="{field:'rateType', width: 100,style:'color:#2F4056'}">视频码率类型</th>
						     <th lay-data="{field:'pictureFormat', width: 100,style:'color:#2F4056'}">/图片格式</th>		     
						      <!--设备基础信息  -->						
						     <th lay-data="{field:'sn', width: 100,style:'color: #01AAED'}">出厂序列号  </th>
						     <th lay-data="{field:'modelNumber', width: 100,style:'color: #01AAED'}">型号</th>
						     <th lay-data="{field:'diskNumber', width: 100,style:'color: #01AAED'}">硬盘数量</th>
						     <th lay-data="{field:'frameRate', width: 100,style:'color: #01AAED'}">图像帧率</th>
						     <th lay-data="{field:'brand', width: 100,style:'color: #01AAED'}">设备品牌</th>
						     <th lay-data="{field:'resolvingPower', width: 100,style:'color: #01AAED'}">图像分辨率</th>
						     <th lay-data="{field:'functionType', width: 100,style:'color: #01AAED'}">设备功能类型</th>
						     <th lay-data="{field:'versionNumber', width: 100,style:'color: #01AAED'}">版本号</th>	 
						     <th lay-data="{field:'hostchannelsNumber', width: 100,style:'color: #01AAED'}">主机通道数 </th>
						     <th lay-data="{field:'height', width: 100,style:'color: #01AAED'}">设备高度</th>	
						     <th lay-data="{field:'length', width: 100,style:'color: #01AAED'}">设备长度</th>
						    </tr>		    				    	  
						    
						  </thead>
						  <tbody>
						  	     
						      <tr th:each="e :${e}">
						      				      
						      <td th:text="${e.equipmentId}">11</td>
						      <td th:text="${e.equipmentCode}">12</td>
						      <td th:text="${e.equipmentName}">贤心3</td>
						      <td th:text="${e.equipmentUser}">贤心4</td>
						      <td th:text="${e.equipmentPwd}">贤心5</td>
						      <td th:text="${e.equipmentType}">贤心6</td>	   					      
						       <!--设备关联信息  -->  	
						          <td >完善</td>			
						          <td >完善</td>				     
						      <td th:text="${e.fillProperties}">11</td>
						      <td th:text="${e.afunctionType}">12</td>
						      <td th:text="${e.orientation}">贤心3</td>
						      <td th:text="${e.positionType}">贤心4</td>
						      <td th:text="${e.pickup}">贤心5</td>
						      <td th:text="${e.securityMode}">贤心6</td>					      
						      <td th:text="${e.regMethod}">贤心8</td>
						      <td th:text="${e.confiAttribute}">贤心9</td>	
						       
						      <td th:text="${e.storageDay}">录像保存天数</td>		
						      <td th:text="${e.videoAddress}">录像地址</td>
						      <td th:text="${e.bitstreamType}">码流类型</td>
						      <td th:text="${e.codingFormat}">视频编码格式</td>
						      <td th:text="${e.bitrateSize}">视频码率大小</td>
						      <td th:text="${e.rateType}">视频码率类型</td>
						      <td th:text="${e.pictureFormat}">图片格式</td>					      
						        <!--设备关联信息  -->  
						         
						      <td th:text="${e.sn}">出厂序列号 </td>		
						      <td th:text="${e.modelNumber}">型号</td>
						      <td th:text="${e.diskNumber}">硬盘数量</td>
						      <td th:text="${e.frameRate}">图像帧率</td>
						      <td th:text="${e.brand}">设备品牌</td>
						      <td th:text="${e.resolvingPower}">图像分辨率</td>
						      <td th:text="${e.functionType}">设备功能类型</td>					      
						      <td th:text="${e.versionNumber}">版本号</td>
						      <td th:text="${e.hostchannelsNumber}">主机通道数</td>	
						      <td th:text="${e.height}">设备高度</td>	
						      <td th:text="${e.length}">设备长度</td>				   
						      </tr>
						      

			    
					   
						  </tbody>
						</table>
						
						<!--  -->
						</div>
							<!--表格工具栏-->
	<script type="text/html" id="tool">
	<div class="layui-btn-container">
	<!--lay-event 给元素绑定事件名称-->
	  <button class="layui-btn" lay-event="add">新增设备</button>

	</div>
	</script>
						
						<!--  -->
					<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
		  <!-- 表头 -->	
			
			
			
				

				
					<!--end span10-->
			</div>
		</div>
	</div>
</div>
		

<footer>
	<p>
		<span style="text-align:center; margin-left: 50%">Copyright &copy;新视达视讯工程有限公司
		<a href="http://www.sutpc.com"><img src="../logo/xlogo.gif" width="3%" height="3%" /></a></span>
	</p>
</footer>
	
	
	<!-- layui模块化js核心文件-->
	    <script src="layui/layui.js" type="text/javascript" charset="UTF-8"></script>
	
	
	<script>
	
	function reftabbel(){
		$("#btn-re").click();
		$("#btn-sor").click();
	}
	
	
	
	
layui.use([ 'form','element','jquery','layer','table','laypage'], function(){
      var layer = layui.layer
      ,form = layui.form
      ,element = layui.element
      ,$= layui.$
      ,table=layui.table;
      var dataList;
      //转换静态表格
     table.init('demo', {
        height: '743' //设置高度 2120
        ,width :'2120'
        ,limit: 14 //注意：请务必确保 limit 参数（默认：10）是与你服务端限定的数据条数一致   
        ,title:'设备信息'
        ,loading:true 
        ,toolbar:true
        ,page: true
        , defaultToolbar: ['filter', 'print', 'exports',{icon: 'layui-icon-prev'},1,1,1,1,1,1,1,1,1,1,1,1,1,1]
        ,toolbar:"#tool"
        //支持所有基础参数
      });
      
       
    //监听工具条
  table.on('tool(demo)', function(obj){
    var data = obj.data;
    console.log(data.pointId);
    if(obj.event === 'del'){
    	layer.open({
  		  type: 2, 
  		  closeBtn: 0,
  		  title: ['设备删除', 'font-size:20px;'],
  		  area: ['500px', '400px'],
  		  content: 'todellequipment', //这里content是一url
  		  success:function(layero, index){
			  var body = layer.getChildFrame('body', index);
			    var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
			    console.log(body.html()) //得到iframe页的body内容
			    body.find('#equipmentId').val(data.equipmentId)
			    body.find('#equipmentName').val(data.equipmentName)		 
			  }
  		});
    	
    } else if(obj.event === 'edit'){
    	
    	
    	layer.open({
    		  type: 2, 
    		  scrollbar:false,
    		  closeBtn: 0,
    		  title: ['设备修改', 'font-size:20px;'],
    		  area: ['600px', '800px'],   	
    		  content: ['toedtequipment','no'],//这里content是一url
    		  success:function(layero, index){
    			  var body = layer.getChildFrame('body', index);
    			    var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
    			    console.log(body.html()) //得到iframe页的body内容
    			    body.find('#equipmentId').val(data.equipmentId)
    			    body.find('#equipmentCode').val(data.equipmentCode)
    			    body.find('#equipmentName').val(data.equipmentName)
    			    body.find('#equipmentUser').val(data.equipmentUser)
    			    body.find('#equipmentPwd').val(data.equipmentPwd)
    			    body.find('#equipmentType').val(data.equipmentType)
    			  }
    		});
    }
  });

    
  table.on('toolbar(demo)',function(obj){
		 //console.log(obj);
		   //在obj.config对象中可以获取id属性值 ，即表示当前容器的id属性值，也就是text
		   
		   //获取当前表格被选中记录对象，返回数据
		   
		   var eventName=obj.event;//获取事件名称
		  if(eventName =="add"){
			  layer.open({
	    		  type: 2, 
	    		  closeBtn: 0,
	    		  title: ['新增设备', 'font-size:20px;'],
	    		  area: ['600px', '800px'],
	    		  content: 'toaddequipmentmor' //这里content是一个普通url
	    		});
			  
		  }   
		   
	   });
    
      
    
      
     
     
  
  $('.demoTable .layui-btn').on('click', function(){
    var type = $(this).data('type');
    active[type] ? active[type].call(this) : '';
  });
});
</script>
 
	
	
	
	
	
	
	
	<!-- start: JavaScript-->
        <script src="admin/js/jquery-1.9.1.min.js"></script>
	    <script src="admin/js/jquery-migrate-1.0.0.min.js"></script>
	
		<script src="admin/js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="admin/js/jquery.ui.touch-punch.js"></script>
	
		<script src="admin/js/modernizr.js"></script>
	
		<script src="admin/js/bootstrap.min.js"></script>
	
		<script src="admin/js/jquery.cookie.js"></script>
	
		<script src='admin/js/fullcalendar.min.js'></script>
	
		<script src='admin/js/jquery.dataTables.min.js'></script>

		<script src="admin/js/excanvas.js"></script>
        <script src="admin/js/jquery.flot.js"></script>
        <script src="admin/js/jquery.flot.pie.js"></script>
        <script src="admin/js/jquery.flot.stack.js"></script>
        <script src="admin/js/jquery.flot.resize.min.js"></script>

		<script src="admin/js/jquery.chosen.min.js"></script>
	
		<script src="admin/js/jquery.uniform.min.js"></script>
		
		<script src="admin/js/jquery.cleditor.min.js"></script>
	
		<script src="admin/js/jquery.noty.js"></script>
	
		<script src="admin/js/jquery.elfinder.min.js"></script>
	
		<script src="admin/js/jquery.raty.min.js"></script>
	
		<script src="admin/js/jquery.iphone.toggle.js"></script>
	
		<script src="admin/js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="admin/js/jquery.gritter.min.js"></script>
	
		<script src="admin/js/jquery.imagesloaded.js"></script>
	
		<script src="admin/js/jquery.masonry.min.js"></script>
	
		<script src="admin/js/jquery.knob.modified.js"></script>
	
		<script src="admin/js/jquery.sparkline.min.js"></script>
	
		<script src="admin/js/counter.js"></script>
	
		<script src="admin/js/retina.js"></script>

		<script src="admin/js/custom.js"></script>
	<!-- end: JavaScript-->
	
</body>
</html>
